name: Node.js CI

on:
  push:
    paths-ignore: "**/README.md"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [22.x, 23.x, 24.x, 25.x]
        template: [vanilla-ts, vue-ts, react-ts, svelte-ts, solid-ts]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - run: npm create vite@latest "my-${{ matrix.template }}-app-node-v${{ matrix.node-version }}" -- --template "${{ matrix.template }}"
    
    # - shell: cmd
    #   run: |
    #     cd  &&^
    #     7z a -tzip "my-vue-app-${{ matrix.node-version }}.zip" &&^
    #     dir
        
    - uses: actions/upload-artifact@v4.6.0
      with:
        name: "my-${{ matrix.template }}-app-node-v${{ matrix.node-version }}"
        path: "my-${{ matrix.template }}-app-node-v${{ matrix.node-version }}"
