name: Node.js CI

on:
  push:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - run: npm create vite@latest my-vue-app -- --template vue-ts
    
    # - shell: cmd
    #   run: |
    #     cd  &&^
    #     7z a -tzip "my-vue-app-${{ matrix.node-version }}.zip" &&^
    #     dir
        
    - uses: actions/upload-artifact@v4.6.0
      with:
        name: "my-vue-app-${{ matrix.node-version }}.zip"
        path: "my-vue-app"
